/* Root Variables */
:root {
     --font-regular: "Alegreya Sans", sans-serif;
     --font-pixel: 'Pixelify Sans', display;
     --font-pixel-h2: 24px;
 
     /* Main Colors & Hues*/
     --hue-main: 220; /* blue-ish, but you can try 0 for red, 200 for teal, etc. */
     --clr-nav: hsl(var(--hue-main), 10%, 95%); /* very light, almost white */
     --clr-body: hsl(var(--hue-main), 10%, 95%); /* very light, almost white */
}

body
{
     background-color: --clr-body;
}

.nav-menu
{
     display: grid;
     grid-template-columns: 1fr;
    
     /* STYLE */
     background-color: rgb(217, 187, 255);
     list-style: none;

     
     /* POSITION */
     position: fixed;
     top: 65px;
     left: 15px;

     /* BORDER & SIZE */
     border-radius: 15px;
     width: 6%;
     height: 30%;
     padding: 2px;
     margin: 2px;
}

.nav-menu li
{
     border-bottom-style: solid;
     border-color:rgb(196, 164, 255);
     font-size: inherit; /* or e.g. 1rem */     /* POSITION */
     padding-top: 15px;

     /* TEXT */
     font-family: var(--font-regular);
     font-size: auto;
     text-align: center;
}

/* ──────────────────────────────────────────────
   MARKUP: PORTFOLIO GALLERY SECTION (style.css)
   This section contains styles specific to the
   portfolio-gallery.html file.
   ────────────────────────────────────────────── */
/* PROJECTS GRID
-- visible after opening splash screen -- */
.project-grid
{
     display: inline-grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   
     /* SPACE BETWEEN CARDS*/
     gap: 20px;
    
     /* SIZE */
     width: 50%;

     /* POSITION */
     margin: 40px auto 0 26%;
      
}

.project-card
{
     /* HIDE CARD FOR LATER REVEAL
     display: none;*/

     /* FONT */
     font-family: var(--font-pixel);
     color: white;

     /* COLORS */
     background-color:hsl(261, 70%, 78%);

     /* STYLE */
     aspect-ratio: 2/3;

     /* BORDER*/
     border-radius: 15px;
     border-color: hsl(var(--hue-main), 100%, 10%);
     border-style: solid;

     overflow: hidden;
     margin: 20px auto;
     padding-top: 3px;
     padding-left: 4px;
     padding-right: 4px;
     width: 200px;

     /* CLICKABLE */
     cursor: pointer;


}

.project-card img
{
     width: 100%;

     border-radius: 15px;
     overflow: hidden;
}

/* ┌─────────────────────────────────────────────────────────┐
   │                    SPLASH SCREEN                        │
   │                                                         │
   │  🚩 TODO: Come back here later to implement            │
   │     splash screen functionality                         │
   │                                                         │
   └─────────────────────────────────────────────────────────┘

.open-enter
{
     /* GRID 
     display: grid;
     grid-template-columns: 1fr;

     /* BORDER 
     border-radius: 6px;
     margin: 10px auto;
     width: 80%;
     padding-bottom: 10%;


     /* POSITION 
     position: absolute;
     top: 50%;
     bottom: 50%;
     left: 50%;
     right: 50%;
     transform: translate(-50%, -50%);
     
     /*TEXT
     font-size: 8rem;
    
     /* INTERACT 
     cursor: pointer;

}
     

   ┌─────────────────────────────────────────────────────────┐
   │                                                         │
   │          END OF PORTFOLIO GALLERY FILE CODE             │
   │                                                         │
   └─────────────────────────────────────────────────────────┘
*/

/* 
   ┌─────────────────────────────────────────────────────────┐
   │               CODE FOR ABOUT.HTML FILE                  │
   │                                                         │
   └─────────────────────────────────────────────────────────┘    */

.about-container /* CONTAINS .left-profilebox and .profile-photo*/
{
     /* LAYOUT OF INTERNAL ITEMS */
     display: grid;
     grid-template-columns: 1fr 4fr;
     width: 80%;

     /* POSITION */
     position: relative;
     margin-top: 65px;
     margin-left: 10%;

}

.left-profilebox
{
     font-family: var(--font-pixel);
     font-size: 30px;
     color: black;
     width: 90%;
     height: 100%;
     align-items: center;
}

.profile-photo
{
     aspect-ratio:1/1;
     overflow: hidden;
     /* FRAME STYLING */
     border-radius: 30%;
     border-style: solid;
     border-width: 10px;
     border-color: hsl(261, 70%, 78%);
     box-sizing: border-box;

}

.profile-photo img
{

     width: 100%;
     height: 100%;
}


/* TEXT BELOW PROFILE IMAGE */
.short-about
{
     margin-top: 20px;
     border-top-style: solid;
     border-top-color: hsl(261, 70%, 78%);
}

/* 
   ┌─────────────────────────────────────────────────────────┐
   │             CODE FOR MAIN ABOUT SECTION                 │
   │                                                         │
   └─────────────────────────────────────────────────────────┘ 
*/

.right-profilebox
{
     /* GRID RULES */
     display: grid;
     grid-template-columns: 1fr;
     align-items: start;
     height: fit-content;
}

.right-profilebox-top
{
     width: 35%;
}

.my-name
{
     font-family: var(--font-pixel);
     font-size: 30px;
     margin-left: 10%;

     /* REMOVES DEFAULT MARGINS */
     margin-top: 0;
     margin-bottom: 5px;
     padding-bottom: 0px;
}

.list-skills
{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin-left: 10%;
     width: fit-content;

     /* REMOVES DEFAULT MARGINS AND SHORTENS VERTICAL SPACE */
}

.skill-item
{
     background-color: hsl(261, 70%, 78%);
     margin: 2px;
     padding: 2px;
     border-radius: 10%;
     text-align: center;
     font-family: var(--font-pixel);
     font-size: 18px;
}

/* 
   ┌─────────────────────────────────────────────────────────┐
   │           WORK-IN-PROGRESS: ABOUT SECTION MIDDLE        │
   │  This area is currently being developed and styled.     │
   │  Includes: .right-profilebox-main, .activity-overview,  │
   │  #current-activity, #earlier-work, .general-information │
   └─────────────────────────────────────────────────────────┘
*/
.right-profilebox-main
{
     margin-top: 5%;
     
     display: grid;
     grid-template-columns: 1fr;
     align-items: start;
     height: fit-content;
     width: fit-content;
}

.activity-overview
{
     /* display: grid;
     grid-template-columns: 1fr; */
     width: fit-content;
     margin-left: 5%;
}

#current-activity
{
     background-color:hsl(261, 70%, 78%);
     border-radius: 5px;
     
     /* TEXT POSITION AND STYLE */
     font-family: var(--font-pixel);
     font-size: var(--font-pixel-h2);
     padding: 10px;

     margin-bottom: 5px;
}

#earlier-work
{
     /* FONT */
     font-family: var(--font-pixel);

     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 5px;
     margin-top: 0%;
}

#earlier-work p
{
     background-color:hsl(261, 70%, 78%);
     border-radius: 5px;
     padding-left: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
}

.general-information
{

}

/* 
   ┌─────────────────────────────────────────────────────────┐
   │             CODE FOR ENTER SPLASH SCREEN                │
   │                                                         │
   └─────────────────────────────────────────────────────────┘    */

#enter-container
{
     display: none;
     width: 100%;
     height: 100%;
}

#click-enter
{
     border-radius: 6px;
     margin: 10px auto;
     width: 80%;
     padding-bottom: 10%;
}


/* 
   ┌─────────────────────────────────────────────────────────┐
   │                     CODE FOR FOOTER                     │
   │                                                         │
   └─────────────────────────────────────────────────────────┘    */
footer 
{
     display: grid;
     grid-template-columns: 1fr 1fr;

     width: 90%;
     margin: 40px auto 0 26%;

}

.rights-container
{
     font-family: var(--font-regular);

     left: 10%;
}

.social-container
{
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;

     width: 20%;
     height: 5%;

     right: 10%;

     gap: 40px;

}

.social-link img
{
     width: 100%;
}